<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../favicon/Logado.png" type="image/x-icon">
  <title>Ordem</title>
  <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style-2.css">
</head>

<body>
  <a href="#main" class="skip-link">Main History</a>
  <header>
    <div class="container">
      <h1>Agente de Elite</h1>
      <h2>Descobrir e conquistar</h2>
      <p>
        A arte de viver consiste em tirar o maior bem do maior mal
      </p>
      <a href="#" class="link-github"><span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
          </svg>
        </span>
        Desaparecido</a>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#about">História</a></li>
      <li><a href="#guidelines">Missão</a></li>
      <li><a href="#profile-title">Agente</a></li>
      <li><a href="#contribute">Membrana</a></li>
      <li><a href="#itens">Compra</a></li>
      <li><a href="#arquivomissao">Arquivos</a></li>
    </ul>
  </nav>

  <main id="main" tabIndex="-1">
    <div class="container">
      <article id="about">
        <section class="container">
          <h2>História do Agente</h2>
          <p>
            
              01001100 01101001 01110110 01110010 01101111 01110011 00100000 01100101 00100000 01100110 01101100 01101111 01110010 01100101 01110011 00001010 00001010 01010100 01100101 01110101 01110011 00100000 01101111 01101100 01101000 01101111 01110011 00100000 01110011 11100011 01101111 00100000 01101101 01100101 01110101 01110011 00100000 01101100 01101001 01110110 01110010 01101111 01110011 00101110 00001010 01010001 01110101 01100101 00100000 01101100 01101001 01110110 01110010 01101111 00100000 01101000 11100001 00100000 01100001 11101101 00100000 01101101 01100101 01101100 01101000 01101111 01110010 00101100 00001010

          </p>
          <p>
            <strong>01000101 01101101 00100000</strong> 01110001 01110101 01100101 00100000 01101101 01100101 01101100
            01101000 01101111 01110010 00100000 01110011 01100101 00100000 01101100 01100101 01101001 01100001 00001010
            01000001 00100000 01110000 11100001 01100111
          </p>
          <blockquote>
            <p>
              <strong> 01101001 01101110 01100001 </strong>00100000 01100100 01101111 00100000 01100001 01101101
              01101111 01110010 00111111 00001010 00001010 01000110 01101100 01101111 01110010 01100101 01110011
              00100000 01101101 01100101 00100000 01110011 11100011 01101111 00100000 01110100 01100101 01110101
              01110011 00100000 01101100 11100001 01100010 01101001 01101111 01110011 00101110 00001010 01001111
              01101110 01100100 01100101
            </p>
          </blockquote>
          <p>
            00100000 01101000 11100001 00100000 01101101 01100001 01101001 01110011 00100000 01100010 01100101 01101100
            01100001 00100000 01100110 01101100 01101111 01110010 00101100 00001010 01000101 01101101 00100000 01110001
            01110101 01100101 00100000 01101101 01100101 01101100 01101000 01101111 01110010 00100000 01110011 01100101
            00100000 01100010 01100101 01100010 01100001 00001010 01001111 00100000 01100010 11100001 01101100 01110011
            01100001 01101101 01101111 00100000 01100100 01101111 00100000 01100001 01101101 01101111 01110010 00111111
          </p>
        </section>
        <section class="container" id="itens">
          <h2>Itens para Comprar</h2>
          <p>
            Os Objetos Paranormais são objetos do cotidiano do ser humano que, propositalmente ou por acaso,
            foram tocados pelas Entidades do Outro Lado, Diversos membros trabalham para pesquisar e até
            reproduzir as características dos elementos, mesclando tecnologia avançada e conhecimento
            ritualístico, o que às vezes resulta na fabricação de itens paranormais.
          </p>
          <p>Objetos paranormais para compra:</p>
          <ul>
            <li>Amaldiçoar munição com Sangue</li>
            <li>Frasco de Lodo</li>
            <li>Anel espiral</li>
            <li>Pergaminho de Conhecimento</li>
            <li>Caveira da Morte</li>
            <li>Carta Coringa</li>
            <li>Espada de Conhecimento</li>
            <li>Cristal de Morte</li>
            <li>Tablet de Energia</li>
            <li>Medalhão de Sangue</li>
            <li>Amarras de (Elemento)</li>
            <li>Câmera de Aura Paranormal</li>
            <li>Componentes Ritualísticos de (Elemento)</li>
            <li>Emissor de Pulsos Paranormais</li>
            <li>Escuta de Ruídos Paranormais</li>
            <li>Medidor de Estabilidade da Membrana</li>
            <li>Scanner de Manifestação Paranormal de (Elemento)</li>
          </ul>
          <p>
            Para fazer compras por favor falar com Agatha para itens amaldiçoados, Ivete Beicur para
            armamentos, comidas e etc. Já para compras de medicamento falar com a Marcela Geleerd
          </p>
          
        </section>
      </article>
      <article id="guidelines">
        <section class="container">
          <h2>Missão</h2>
          <p>
            <strong>O Enigma do Relicário Sombrio :</strong> A agente ocultista Emily Black recebeu a informação que a
            familhia Salvatori ATISTLUC está involvida em casos de enfraquecimento da membrana.
          </p>
          <h3>Diário</h3>
          <p>
            Diário de Tobias, Dia 1: Hoje, iniciei minha investigação meticulosa sobre a agente ocultista Emily Black,
            acreditando que ela é a chave para desvendar segredos que vão além de nossa compreensão. Acompanhei seus
            passos silenciosamente pelas sombras da cidade, observando-a mergulhar no mundo das artes sombrias e antigas
            relíquias. Emily é astuta e corajosa, mas ela não percebe que seus esforços estão sendo acompanhados de
            perto. Estou determinado a descobrir seus segredos ocultos e usar isso a meu favor.
          </p>
          <p>
            Diário de Tobias, Dia 2: Hoje, tive um vislumbre perturbador das habilidades ocultas de Emily. Enquanto a
            observava, testemunhei seu confronto com uma força sobrenatural, como se ela tivesse o controle sobre
            entidades que deveriam permanecer adormecidas. Isso só reforçou minha crença de que ela é uma chave para
            desbloquear conhecimentos proibidos. Continuarei minha vigilância e investigação, pois estou convencido de
            que Emily Black guarda segredos profundos que podem ser usados para servir aos objetivos de nossa ordem. A
            verdade está ao alcance, e eu farei de tudo para revelá-las.
          </p>
        </section>
      </article>
      <article id="contribute">
        <section class="container">
          <h2>O outro lado</h2>
          <p>Ao entrar na membrana fique preperado para morte pois lá você só incontrará ...</p>
          <p>
            As criaturas mais abominaveis e grotescas que você encontrará em sua pútrida vida, prepare pois seus
            pesadelos se tornarão <strong>Realidade</strong>
          </p>
        </section>
        <section class="container">
          <h3>ENTIDADES DO OUTRO LADO</h3>
          <ol>
            <li>
              <strong>Sangue:</strong> é entidade dos sentimentos fome, dor, amor, ódio, paixão, obsessão. O Sangue
              busca a intensidade e tudo que envolve sentir uma emoção extrema agrada essa entidade.
            </li>
            <li>
              <strong>Morte:</strong> é a entidade da espiral do tempo. Ela busca os momentos vivenciados, distorcendo a
              percepção egóica da existência de cada indivíduo para seu agrado.

            </li>
            <li>
              <strong>Conhecimento :</strong>é a entidade da consciência. Descobrir, decifrar, entender, aprender. Ter a
              própria percepção do Outro Lado e suas entidades agrada o elemento de Conhecimento.
            </li>
            <li>
              <strong>Energia :</strong>é a entidade da consciência. Descobrir, decifrar, entender, aprender. Ter a
              própria percepção do Outro Lado.
            </li>
          </ol>
        </section>
        <footer id="files">
          <div class="container" id="arquivomissao">
            <h3>Arquivos da Missão</h3>
            <a href="../../itens/bilhete codificado.txt" class="link-downloadcss" download>Bilhete CDF</a>
            <a href="../../itens/Comunicado.rtf" class="link-downloadhtml" download>Comunicado PRD</a>
            <a href="../../jornal/index.html" class="link-jornal">Jornal the queen</a>
          </div>
        </footer>
      </article>
    </div>
  </main>
  <aside class="profile" aria-labelledby="profile-title">
    <div class="container">
      <h4 id="profile-title">características do Agente</h4>
      <ul>
        <li class="profile-title"><span>nome:</span> <span>K</span></li>
        <li class="profile-author"><span>idade:</span> <span>28</span></li>
        <li class="profile-twitter">
          <span>classe:</span> <span>Combatente</span>
        </li>
        <li class="profile-website">
          <span>Elemento:</span> <span>nenhum</span>
        </li>
      </ul>
      <a href="./cesar.jpeg" class="link-downloadcss" download>Foto do agente</a>
    </div>
  </aside>
  <aside id="styles">
    <div class="container">
      <h2>Arquivos da Missão</h2>
      <ul class="features">
        <li>
          <span>
            <a href="../../personagens/Ficha de crime -Joaquim Silva Malaquias.pdf" download>Funcionário 01<span aria-hidden="true"></span></a>
            <span>Feito por: síndico </span>
          </span>
        </li>
        <li>
          <span>
            <a href="../../BancoDados/index.html">Banco de Dados<span aria-hidden="true"></span></a>
            <span>Feito por: Timotio Alcantra</span>
          </span>
        </li>
        <li>
          <span>
            <a href="../../personagens/Ficha de crime - Maria Rita Moranite.pdf" download>Funcionário 02<span aria-hidden="true"></span></a>
            <span>Feito por: síndico</span>
          </span>
        </li>
      </ul>

      <a href="#arquivomissao" class="link-allstyles">Arquivos não incrontrados</a>
    </div>
  </aside>
  <footer class="page-footer">
    <div class="container">
      <p>
        Missões concluidas com exito
        <br>em que participou e concluiu
      </p>
      <ul>
        <li>
          <a href="#" class="link-twittercontact">Olhos da serpente</a>
        </li>
        <li>
          <a href="#" class="link-github">
            Espectro Ancestral de Eleimayer</a>
        </li>
        <li><a href="#" class="link-rss">O nordico imortal</a></li>
        <li><a href="#" class="link-support">As 20 armas lendárias</a></li>
      </ul>
      <p>
        A conclusão da missão é marcada por uma sensação de triunfo e resolução, mas também pode deixar os agentes com
        perguntas adicionais e uma sensação de que há muito mais a descobrir no mundo paranormal. A experiência da
        missão molda o conhecimento e a compreensão da equipe, preparando-os para futuras aventuras e desafios
        paranormais.
      </p>
    </div>
  </footer>
</body>

</html>