<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Characters</title>
    <link rel="stylesheet" href="../style/character.css" />
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <section class="slider-container">
      <div class="slider-images">
        <div class="slider-img">
          <img src="../img/characters/Death.jpeg" alt="1" />
          <h1>Monster</h1>
          <div class="details">
            <h2>Rory Hatakura</h2>
            <p>Criador de criaturas</p>
          </div>
        </div>
        <div class="slider-img">
          <img src="../img/characters/hunter.jpeg" alt="2" />
          <h1>Agente</h1>
          <div class="details">
            <a href="cesar.html">
              <h2>Agente K</h2>
            </a>
            <p>Combatente da ordem</p>
          </div>
        </div>
        <div class="slider-img">
          <img src="../img/characters/LucyFGulevart.png" alt="3" />
          <h1>Lucy</h1>
          <div class="details">
            <a href="misth.html">
              <h2>LucyF Gulevart</h2>
            </a>
            <p>Especialista da ordem</p>
          </div>
        </div>
        <div class="slider-img active">
          <img src="../img/characters/The-Queen.jpg" alt="4" />
          <h1>Queen</h1>
          <div class="details">
            <h2>mily Blacky</h2>
            <p>A rainha das formigas</p>
          </div>
        </div>
        <div class="slider-img">
          <img src="../img/characters/Samuel_Nakamura.jpg" alt="5" />
          <h1>Samuel</h1>
          <div class="details">
            <a href="samuel.html">
              <h2>Samuel Nakamura</h2>
            </a>
            <p>Especialista da Ordem</p>
          </div>
        </div>
        <div class="slider-img">
          <img src="../img/characters/Huri.png" alt="6" />
          <h1>Huri</h1>
          <div class="details">
            <a href="./rafa.html">
              <h2>Huri Nakamura</h2>
            </a>
            <p>Ocultista da Ordem</p>
          </div>
        </div>
        <div class="slider-img">
          <img src="../img/characters/mafioso.jpg" alt="7" />
          <h1>Evil</h1>
          <div class="details">
            <h2>Yamamoto Tomoya</h2>
            <p>O maior assasino do Japão</p>
          </div>
        </div>
      </div>
    </section>
    <script 
    src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
    crossorigin="anonymous"></script>
    <script>
      jQuery(document).ready(function ($) {
        $(".slider-img").on("click", function () {
          $(".slider-img").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
  </body>
</html>
