<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <h1>Podem escolher um item</h1>
    <ul>
        <li><strong>Item 1:</strong> Perfume do parasita da culpa.</li><br>
        <li><strong>Item 2:</strong> Cranio do carniçal.</li><br>
        <li><strong>Item 3:</strong> Um pedaço do anjo.</li><br>
        <li><strong>Item 4:</strong> Pele de doppelganer.</li><br>
        <li><strong>Item 5:</strong> Pedaço da larva de lodo.</li><br>
        <li><strong>Item 6:</strong> Pagina do livro do conhecimento.</li><br>
        <li><strong>Item 7:</strong> Espada de Energia.</li><br>
        <li><strong>Item 8:</strong> Cerebro da criatura de leite.</li><br>
        <li><strong>Item 9:</strong> A mãos do caos.</li><br>
        <li><strong>Item 10:</strong> ???.</li>
    </ul>
</body>
</html>
